body {
    font-family: Arial, sans-serif;
    background-color: #6e1919cd;
    text-align: center;
    color: #333;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 50px; /* Adjust image height if needed */
    margin-right: 20px;
}

.language-switcher {
    position: absolute;
    top: 20px;
    right: 20px;
}

.language-switcher button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.title {
    text-align: center;
    margin-top: 10px;
}

.title h1 {
    font-size: 36px; /* Adjust font size */
    margin: 0; /* Remove default margin */
    font-weight: bold; /* Make text bold */
}

.title h2 {
    font-size: 24px; /* Adjust font size */
    margin-top: 10px; /* Add spacing */
}

main {
    padding: 20px;
}

.question-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: #fff; /* White background for input area */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 10px; /* Add padding */
}

.question-input input {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    transition: border-color 0.3s; /* Transition effect */
}

.question-input input:focus {
    border-color: #4CAF50; /* Change border color on focus */
    outline: none; /* Remove outline */
}

.question-input .upload-btn {
    color: white; /* White text */
    border: none; /* No border */
    padding: 5px; /* Increase padding */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor */
    transition: background-color 0.3s; /* Transition effect */
    margin-left: 5px; /* Space between buttons */
    display: flex; /* Center the icon */
    align-items: center; /* Center vertically */
    font-size: 18px; /* Increase font size */
}


.question-input .upload-btn:hover {
    background-color: #dbdba2; /* Darker green on hover */
}

.question-input .submit-btn {
    color: white; /* White text */
    border: none; /* No border */
    padding: 5px; /* Increase padding */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor */
    transition: background-color 0.3s; /* Transition effect */
    margin-left: 5px; /* Space between buttons */
    display: flex; /* Center the icon */
    align-items: center; /* Center vertically */
    font-size: 18px; /* Increase font size */
}

.question-input .submit-btn img {
    height: 20px; /* Adjust icon size */
}

.question-input .submit-btn:hover {
    background-color: #78ef8c; /* Darker green on hover */
}

.examples {
    background-color: #0c0202;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.examples p {
    font-weight: bold;
}

.examples ul {
    list-style-type: none;
    padding: 0;
}

.examples li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer; /* Add cursor pointer */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.examples li:hover {
    background-color: #b06b6b; /* Background color change on hover */
}

.bot-response {
    margin-top: 20px;
}

.completion {
    background-color: #e9ffe9; /* Light green background for completion */
    border: 1px solid #4caf60; /* Green border */
    border-radius: 20px; /* Rounded corners */
    padding: 15px; /* Padding for the response */
    padding-left: 25mm; /* Extra space on the left side */
    font-size: 18px; /* Larger font size */
    color: #333; /* Dark text color */
    max-width: 1000px; /* Limit max width */
    margin: 20px auto; /* Center the response horizontally with vertical spacing */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    text-align: left; /* Align text to the left */
}


 



.completion strong {
    font-weight: bold; /* Make text bold */
}

.login-container, .signup-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 50px;
    background-color: none;
}

.login-form, .signup-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 40%;
}

.login-form h2, .signup-form h2 {
    margin-bottom: 20px;
}

.login-form p, .signup-form p {
    margin-bottom: 10px;
}

.login-form form, .signup-form form {
    display: flex;
    flex-direction: column;
}

.login-form label, .signup-form label {
    margin-bottom: 5px;
}

.login-form input, .signup-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.error {
    color: red;
    margin-bottom: 10px;
}

.login-btn, .signup-btn {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-btn:hover, .signup-btn:hover {
    background-color: #45a049;
}

.illustration {
    width: 70%;
}

.illustration img {
    max-width: 70%;
    height: auto;
}

.completion {
    background-color: #e9ffe9; /* Light green background for completion */
    border: 1px solid #4CAF50; /* Green border */
    border-radius: 5px; /* Rounded corners */
    padding: 15px; /* Padding for the response */
    padding-left: 5mm; /* Space from the left border inside the element */
    padding-right: 5mm;
    font-size: 18px; /* Larger font size */
    color: #333; /* Dark text color */
    max-width: 600px; /* Limit max width */
    margin: 20px auto; /* Center the response horizontally and add vertical margin */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    text-align:  center; /* Justify text alignment */
    list-style: none; /* Remove list style if applicable */
}

.uploaded-image {
    display: flex;
    justify-content: center;  /* Center the image horizontally */
    align-items: center;      /* Center the image vertically */
    margin: 20px 0;          /* Add margin for spacing */
}

.uploaded-image img {
    max-width: 300px;        /* Set a maximum width for the image */
    max-height: 300px;       /* Set a maximum height for the image */
    width: auto;             /* Maintain aspect ratio */
    height: auto;            /* Maintain aspect ratio */
}

.bot-response {
    display: flex;
    justify-content: Justify;  /* Center the response horizontally */
    margin-top: 20px;        /* Add margin for spacing */
}

.completion {
    text-align: center;       /* Center align the text */
}
/* Style for the Let's Talk button */
#letsTalkButton {
    background-color: green; /* Green background */
    color: white; /* White text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 15px; /* Padding */
    cursor: pointer; /* Pointer cursor */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

/* Hover effect for the Let's Talk button */
#letsTalkButton:hover {
    background-color: darkgreen; /* Darker green on hover */
}

/* Style for the Start Talking button */
#startSpeechButton {
    background-color: green; /* Green background */
    color: white; /* White text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 15px; /* Padding */
    cursor: pointer; /* Pointer cursor */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

/* Hover effect for the Start Talking button */
#startSpeechButton:hover {
    background-color: darkgreen; /* Darker green on hover */
}

/* Styles for the container holding the question and response */
.qa-container {
    display: flex;
    flex-direction: column; /* Stack question and response vertically */
    margin: 20px auto;
    padding: 15px;
    max-width: 600px;
    background-color: #f4fff4; /* Light green background */
    border-radius: 10px;
    border: 1px solid #ddd; /* Light border for separation */
}

/* Individual styling for question and response */
.qa-container .completion {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #eafbe8; /* Slightly darker green for distinction */
    border-radius: 5px;
}

.qa-container .completion strong {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}


/* Style for the Go Back button */
.go-back-button {
    background-color: green; /* Green background */
    color: white; /* White text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 15px; /* Padding */
    cursor: pointer; /* Pointer cursor */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

/* Hover effect for the Go Back button */
.go-back-button:hover {
    background-color: darkgreen; /* Darker green on hover */
}

/* Style for the Logout button */
#logoutButton {
    background-color: red; /* Red background */
    color: white; /* White text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 20px; /* Padding */
    cursor: pointer; /* Pointer cursor */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

/* Hover effect for the Logout button */
#logoutButton:hover {
    background-color: darkred; /* Darker red on hover */
}

/* Update Refresh button to match Let's Talk button color */
#refresh-button {
    background-color: green; /* Green background */
    color: white; /* White text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 15px; /* Padding */
    cursor: pointer; /* Pointer cursor */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

/* Hover effect for the Refresh button */
#refresh-button:hover {
    background-color: darkgreen; /* Darker green on hover */
}

/* Camera button without background color */
#cameraButton {
    background-color: transparent; /* Remove background color */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
    cursor: pointer; /* Pointer cursor */
    display: inline-flex; /* Center the icon */
    align-items: center; /* Center vertically */
}

#cameraButton img {
    height: 24px; /* Adjust icon size */
    width: 24px;  /* Adjust icon size */
    display: block; /* Ensure it displays correctly */
}

